<h1>Rijksmuseum Art Explorer</h1>
<div class="container">
  <div class="art-objects-list">
    <form (submit)="onSearch($event, searchInput.value)">
      <input type="search" #searchInput>
      <button type="submit">Search</button>
    </form>

    <app-art-objects-list-item
      *ngFor="let artObject of artObjects"
      [artObject]="artObject"
      [isSelected]="isSelected(artObject)"
      (select)="selectArtObject(artObject)"
    ></app-art-objects-list-item>
  </div>

  <div class="art-object-details">
    <app-art-object-details
      *ngIf="selectedArtObjectDetails"
      [artObjectDetails]="selectedArtObjectDetails"
    ></app-art-object-details>
  </div>
</div>
